/* @font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url(paste/src/fonts/OpenSans-Light.ttf)
        format('truetype');
} */

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), url("./fonts/OpenSans-Light.ttf")
  format('truetype');
}