.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;

    align-items: center;

    margin-left: 5px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto 0 auto 0;
}

.formContainer input {
    justify-self: center;
    display: block;
    border: 1px solid #433A3F;
    margin: 0 auto 5px auto;
}

button {
    width: fit-content;

    border: 1px dashed #433A3F;
    background-color: transparent;

    outline: none;
}

button:hover{
    background-color: #02BF99;
}

button:active{
    background-color: #02AD8B;
}